@use './responsive';
.about-content {
  text-align: center;
  h1 {
    font-size: 2em;
  }
  p {
    padding-top: 2vh;
    font-size: 1.4em;
    @media #{responsive.$extra-small-screen}  {
      font-size: 1.3em;
    }
    line-height: 2;
    text-align: left;

    li {
      margin-bottom: 0.5em;
    }
  }
  img {
    float: right;
    max-height: 200px;
    justify-content: right;
    border-radius: 77.279px;
    margin-bottom: 20px;
    @media #{responsive.$extra-small-screen}  {
      justify-content: center;
    }
  }
}
