@import './responsive';


.awards-content {
  text-align: center;

  .awards-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .card {
    margin: 30px;
    width: 800px;
    @media #{$extra-small-screen} {
      margin: 10px;
    }

    .awards-card-head {
      p {
        font-size: 1.8em;
        @media #{$extra-small-screen} {
          font-size: 1.3em;
        }
      }
    }

    .awards-card-footer {
      #text {
        font-size: 1.5em;
        @media #{$extra-small-screen} {
          font-size: 1em;
        }

      }
      img {
        width: 400px;
        @media #{$extra-small-screen} {
          width: 200px;
        }
      }
    }

    .awards-card-back {
      margin: 18px;
      dl {
        font-size: 1.3em;
        line-height: 1.7;
        text-align: left;
      }
    }

  }
}


