@import './responsive';

.content {
  grid-row: 1 / 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  //background-color: #e2d9cf;
  background-image: url("./images/background5.jpg");
  background-size: cover;
  display: grid;
  grid-template-areas: "left-menu content";
  grid-template-columns: auto 2fr;
  z-index: 0;

  .menu-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 24px;
    bottom: 24px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #c28285;
    box-shadow: 4px 4px 8px #888888;
    z-index: 13;
    border: 0;
    .close {
      width: 40px;
      height: 40px;
      &:active {
        svg {
          transform: rotate(80deg);
          transition: transform ease-in-out 150ms;
        }
      }
      .close-icon {
        stroke: black;
        fill: transparent;
        stroke-width: 2;
      }
    }
    @media not #{$large-screen} {
      display: none;
    }
    .menu-button-hline {
      height: 2px;
      background-color: black;
      width: 20px;
      margin: 4px;
    }
  }


  .overlay {
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, black, #c28285);
    opacity: 0;
    pointer-events: none;
    transition: opacity ease-in-out 200ms;
    @media not #{$large-screen} {
      display: none;
    }
    &.visible {
      opacity: .6;
      pointer-events: auto;
    }
  }

  .left-menu {
    grid-area: left-menu;
    padding: 24px 48px;
    justify-content: center;
    background-color: white;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .left-menu-header {
      font-family: 'Syncopate';
      text-align: center;
      font-size: 24px;
    }

    @media #{$large-screen}  {
      position: absolute;
      top: 0;
      bottom: 0;
      transform: translateX(-100%);
      transition: transform ease-in-out 200ms;
      z-index: 11;

      &.open {
        transform: translateX(0);
      }
      button {
        display: block;
      }
    }

    .hline {
      height: 1px;
      background-color: black;
      width: 100%;
      margin-bottom: 12px;
      flex-shrink: 0;
    }



    .left-menu-list-container {
      overflow-y: auto;
      overflow-x: hidden;
    }
    .left-menu-list {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-left: 24px;
    }

    .left-menu-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      text-decoration: none;
      color: black;
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 1.8em;
      @media #{$large-screen} {
        font-size: 1.5em;
      }

      &:hover {
        transition:  ease-in-out transform 30ms, font-size 100ms;
        transform: translateX(12px);
        color: #c28285;
      }

      svg {
        margin-top: 2px;
        margin-right: 10px;
        position: absolute;
        left: -12px;
        top: calc(50% - 2px);
        transform: translate(-100%, -50%);
      }

      p {
        margin: 0;
      }
    }
    .icons {
      margin-top: 12px;
    }
    .icon {
      img {
        padding-left: 20px;
        padding-right: 20px;
        height: 30px;
        @media #{$small-screen} {
          height: 30px;
          padding-left: 15px;
          padding-right: 15px;
        }
        transition: transform ease-in-out 100ms;
        &:hover {
          transform: translateY(-1px);
          filter: invert(67%) sepia(10%) saturate(1206%) hue-rotate(308deg) brightness(83%) contrast(93%);
        }
      }
    }

    .left-menu-footer {
      font-family: 'Syncopate';
      color: #404040;
      font-size: 0.8em;
      text-align: center;
    }
  }

  .content-main {
    grid-area: content;
    margin: 40px;
    @media #{$large-screen} {
      margin: 0px;
    }
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    background-color: white;
    .frame {
      padding: 40px;
      align-items: center;
      justify-content: center;

      @media #{$small-screen} {
        margin: 30px;
      }

      @media #{$extra-small-screen} {
        margin: 0px;
      }
    }
  }
}
