.education-content {
  text-align: center;
  pre {
    font-family: 'Nunito Sans';
    font-size: 2em;
    padding-top: 3vh;
  }
  img {
    padding-top: 3vh;
    width: 250px;
    max-width: 80vw;
  }
}
