.experience-content {
  text-align: center;
  h1 {
    padding-top: 0;
  }
  dl {
    font-size: 1.3em;
    width: 90%;
    line-height: 1.7;
    text-align: left;
  }
}
.card {
  margin: 30px;

  p {
    font-size: 2em;
  }
  img {
    max-width: 100px;
    max-height: 100px;
    margin-top: 10px;
  }
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
}