@import "responsive";
.hero {
  font-family: 'Syncopate';
  grid-row: 1 / 1;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  z-index: 1;
  h1 {
    font-family: 'Syncopate';
  }
  h4 {
    color: #303030;
  }
  h6 {
    font-size: 20px;
    @media #{$extra-small-screen} {
      font-size: 15px;
    }
  }
  transition: transform ease-in-out 300ms;

  &.showing-next {
    transform: translateY(-100%);
    pointer-events: none;
  }

  .icons {
    padding-top: 40px;
    .icon {
      img {
        height: 80px;
        padding-left: 30px;
        padding-right: 30px;
        transition: transform ease-in-out 100ms;
        @media #{$extra-small-screen} {
          height: 50px;
        }
        &:hover {
          transform: translateY(-0.5vh);
          filter: invert(67%) sepia(10%) saturate(1206%) hue-rotate(308deg) brightness(83%) contrast(93%);
        }
      }
    }
  }

}

.page-content {
  display: grid;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  outline: none;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }

}

.enter {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  img {
    animation: MoveUpDown 1s linear infinite;
    max-height: 30px;
  }
  padding-top: 60px;
  text-decoration: none;
  color: black;
}
