@import './responsive';


.projects-content {
  text-align: center;

  .projects-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .card {
    margin: 30px;
    width: 400px;
    @media #{$extra-small-screen} {
      margin: 10px;
    }

    .projects-card-head {
      p {
        font-size: 1.9em;
        @media #{$extra-small-screen} {
          font-size: 1.5em;
        }
      }
    }

    .projects-card-footer {
      #text {
        font-size: 1.4em;
        @media #{$extra-small-screen} {
          font-size: 1.2em;
        }
      }

      #subtext {
        font-size: 1.2em;
        @media #{$extra-small-screen} {
          font-size: 1em;
        }
      }
    }


  }
}


