@import "responsive";

.skills-content {
  text-align: center;

  .skills-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    .card {
      margin: 30px;
      width: 400px;
      @media #{$extra-small-screen} {
        margin: 10px;
      }
      .skills-card-head {
        p {
          font-size: 1.7em;
          @media #{$extra-small-screen} {
            font-size: 1.5em;
          }
        }
      }

      .skills-card-footer {
        #text {
          font-size: 1.2em;
          @media #{$extra-small-screen} {
            font-size: 1em;
          }
        }
      }
    }
  }
}

